# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
myenv/
env.bak/
venv.bak/

# Distribution / packaging
.Python

# Jupyter Notebook
.ipynb_checkpoints

# Visual Studio Code
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Visual Studio Code Patch, Ignore all local history of files
.history